<!DOCTYPE html>
<html lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <script src="js/jquery-3.5.1.js" type="application/javascript"></script>
    <script type="application/javascript" src="js/bootstrap.min.js"></script>
    <script type="application/javascript" src="js/mouseenter.js"></script>
</head>
<body>
        <!-- 备案号 -->
        <div th:fragment="foot" class="footer">
            <div>
                Copyright 2022 京ICP备2021017317号-1.All rights
            </div>
        </div>
</body>
</html>