<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/editormd.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>

    <script type="application/javascript" src="/js/jquery-3.5.1.min.js"></script>
    <script type="application/javascript" src="/js/editormd.min.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/js/community.js"></script>
</head>
<body>
<!-- 引入导航栏 -->
<div th:insert="~{navgation :: nav}"></div>
<!-- 正文 -->
<div class="container-fluid secondary">
    <div class="row">
        <h2><span class="glyphicon glyphicon-plus" aria-hidden="true">你的日记</span></h2>
        <hr>
        <div class="col-lg-9 .col-md-12 .col-sm-12 .col-xs-12">
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${action}">
                <div class="form-group">
                    <label for="title">你今天写日记了吗?</label>
                    <input type="text" th:text="${title}" class="form-control" id="title"
                           name="title" placeholder="标题描述..." autocomplete="off">
                </div>
                <div id="test-editor" class="form-group">
                    <label for="description">问题补充(必填，请参照右侧提示);</label>
                    <textarea style="display: none;" name="description" th:text="${description}"
                              id="description" class="form-control" cols="30" rows="10">
                    </textarea>
                </div>
                <script type="text/javascript">
                    $(function(){
                        var editor = editormd("test-editor", {
                            width  : "100%",
                            height : "375px",
                            path   : "js/lib/",
                            placeholder: "请写日记内容...",
                            delay: 0,
                            watch: false,
                            imageUpload: true,
                            imageFormats: ["jpg","jpeg","gif","png","bmp","webp"],
                            imageUploadURL: "/file/upload"
                        });
                    });
                </script>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" th:text="${tag}" class="form-control"
                           id="tag" name="tag" autocomplete="off" placeholder="输入标签" onclick="showSelectTag()">

                    <div id="select-tag" style="display: none">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="tagvalue,tagValueSet : ${tags}"
                                th:class="${tagValueSet.first ? 'active':''}">
                                <a th:href="${'#'+tagvalue.categoryName}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${tagvalue.categoryName}"
                                   th:data-tag="${tagvalue.categoryName}" onclick="selectTag(this)">
                                </a>
                            </li>
                        </ul>

<!--                        <div class="tab-content">-->
<!--                            <div role="tabpanel"  th:id="${tagvalue.categoryName}"-->
<!--                                 th:each="tagvalue : ${tags}"-->
<!--                                 th:class="${tagvalueStat.first ? 'active tab-pane' : 'tab-pane'}">-->
<!--                                <span class="label label-info" th:each="selecttag : ${tagvalue.tags}">-->
<!--                                    <span class="glyphicon glyphicon-tags" onclick="selectTag(this)"-->
<!--                                          th:text="${' '+selecttag}" th:data-tag="${selecttag}">-->
<!--                                    </span>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>


                <div class="container-fluid">
                  <div class="row">
                    <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" role="alert" th:text="${error}"
                         th:if="${error != null}"></div>
                    <div class="col-lg-12 .col-md-12 .col-sm-12 .col-xs-12">
                        <button type="submit" class="btn btn-success btn-publish">发布</button>
                    </div>
                  </div>
                </div>

            </form>
        </div>
        <div class="col-lg-3 .col-md-12 .col-sm-12 .col-xs-12">
            <a href="http://127.0.0.1:8972/api/city/101010100">获取北京天气信息</a>
            <a href="http://pv.sohu.com/cityjson?ie=utf-8">获取本地城市</a>
            <button type="button" id="btn_weather" onclick="getWeather()">获取id</button>
            <script type="application/javascript">
               function getWeather(){
                    $.ajax({
                        url:"http://pv.sohu.com/cityjson?ie=utf-8",
                        type:'get',
                        dataType: 'jsonp',
                        function(data) {
                            alert(data);
                        }
                    });
                }
            </script>
        </div>
    </div>
</div>
<!-- 备案号 -->
<div th:insert="~{footer :: foot}"></div>
</body>
</html>